<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/img/weather.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{!-- <img class="portrait" src="/img/me.png"> --}}
        <p>Unga oorula ipo ena Vaanilai nu therinjukanuma?</p>
        <p>Ipove check pani paarunga</p>
        </div>
        {{>footer}}
    </body>
</html>